@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --texts-second: #333;
  --texts-error: #ff5757;
  --texts-hover: #756157;
  --texts-active: rgba(117, 97, 87, 0.3);
  --texts-texts-basic: #000;
  --texts-background-deafault: #fff;
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --texts-background-hover: rgba(255, 255, 255, 0.6);
  --texts-background-active: rgba(255, 255, 255, 0.3);
  --buttons-basic: #756157;
  --buttons-second: #82b3d3;
  --buttons-select: #7db54f;
  --buttons-disabled: #e5e5e5;
  --buttons-brown-hover: #615048;
  --buttons-blue-hover: #68a2ca;
  --buttons-green-hover: #6c9e42;
  --background-basic-1: #fff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-basic-3: #82b3d3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);
  --icons-basic: #000;
  --icons-second: #83b3d3;
  --icons-text: #7db54f;
  --icons-hover: #756157;
  --icons-active: rgba(117, 97, 87, 0.3);
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
  --font-family: "PT Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--texts-texts-basic);
  font-size: 18px;
  line-height: 21px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background: var(--forms-elements-2);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
  border-radius: 4px;
  outline: none;
  border-color: transparent;
}

.buttons--basic {
  background-color: var(--buttons-basic);
}

.button--second {
  background-color: var(--buttons-second);
}

.button--select {
  background-color: var(--buttons-select);
}

.button--four {
  background-color: transparent;
}

.page-header {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.main-navigation__logo {
  margin-right: 30px;
  margin-bottom: -10px;
}

.main-navigation {
  padding: 0 70px;
  display: flex;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.site-navigation__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--texts-texts-basic);
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: inline-block;
}

.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-navigation__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--texts-texts-basic);
  text-decoration: none;
  text-align: center;
  min-height: 20px;
  min-width: 20px;
  padding: 22px 12px;
  border: 1px solid;
  display: block;
  box-sizing: border-box;
}

.user-navigation__button {
  text-decoration: none;
  min-width: 160px;
  min-height: 36px;
  margin-left: 20px;
  padding: 8px 34px;
  display: block;
  box-sizing: border-box;
}

.page-content {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.hero {
  background: var(--texts-texts-basic);
  color: var(--texts-texts-basic);
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.hero::after {
  content: url('../images/svg/index-backround-vector.svg');
  display: block;
  width: 100%;
  height: 57px;
  position: absolute;
  bottom: 0;
}

.about {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.about__content {
  padding: 69px 69px 90px;
  margin: 0 auto;
  max-width: 651px;
}

.about__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  margin-top: 0;
  margin-bottom: 25px;
}

.about__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--texts-second);
  margin: 0;
}

.promo {
  display: flex;
  align-items: center;
}

.promo__content {
  width: 400px;
}

.about__promo {
  background: var(--buttons-second);
  color: var(--texts-texts-basic);
}

.promo__content {
  padding: 102px 85px;
  box-sizing: border-box;
}

.promo__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
  margin-top: 0;
  margin-bottom: 62px;
}

.promo__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--texts-background-deafault);
  margin: 0;
}

.promo__image img {
  vertical-align: bottom;
}

.promo--reserve {
  flex-direction: row-reverse;
}

.advantage {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.advantage__list {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;

}

.advantage__item {
  width: 400px;
  height: 385px;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantage__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  margin-bottom: 62px;
}

.advantage__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--texts-second);
  margin: 0;
}

.advantage__item:nth-child(odd) {
  background: var(--background-second-1);
}

.advantage__item:nth-child(even) {
  background: var(--background-second-2);
}

.services {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.services__content {
  padding: 64px 69px;
  max-width: 500px;
  margin: 0 auto;
}

.services__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.services__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  margin: 0 0 20px;
}

.services__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--texts-second);
  margin: 0;
}


.services__item {
  background: var(--background-second-1);
  color: var(--texts-texts-basic);
  padding: 80px 85px;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
}

.services__item:nth-child(even) {
  background-color: var(--background-basic-1);
}

.services-item__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  margin: 0 0 30px;
}

.services-item__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--texts-second);
  word-break: break-word;
  margin: 0;
}

.attract {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
  padding: 96px 69px;
}

.attract-content {
  text-align: center;
  margin: 0 auto;
  max-width: 592px;
}

.attract__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  margin: 0 0 20px;
}

.attract__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--texts-second);
  margin: 0 0 54px;
}

.attract__button {
  background-color: var(--texts-hover);
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
}

.subscribe {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
  text-align: center;
  padding: 96px 69px 104px;
}

.subscribe__wrapper {
  max-width: 684px;
  margin: 0 auto;
}

.subscribe--first {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  margin: 0 0 20px;
}

.subscribe__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--texts-second);
  margin: 0 0 54px;
}

.subscribe--first .subscribe__title {
  color: var(--texts-background-deafault);
}

.subscribe--first .subscribe__description {
  color: var(--texts-background-deafault);
}


.page-footer {
  background-color: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
}

.page__footer-social__list {
  max-width: 142px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__link {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: var(--texts-texts-basic);
  text-decoration: none;
  width: 47px;
  height: 40px;
  display: block;
}

.footer-phone__link {
  font-family: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  text-decoration: none;
}

.footer-copyright__link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--texts-texts-basic);
  text-decoration: none;
}

.inner-header {
  padding: 35px 70px 70px;
}

.inner-header__catalog {
  color: var(--texts-background-deafault);
  background-color: var(--texts-texts-basic);
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--texts-background-deafault);
  margin: 0 0 8px;
}

.breadcrumbs {
  list-style: none;
  color: var(--texts-background-deafault);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 28px;
}

.breadcrumbs__item {
  text-transform: capitalize;
}

.breadcrumbs__link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-hotels {
  margin-top: 40px;
}

.catalog-filter__group {
  color: var(--texts-background-deafault);
}

.catalog-filter {
  display: flex;
}

.catalog-filter__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: inherit;
}

.catalog-filter__checkbox {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-background-deafault);
}

.catalog-filter__radio {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-background-deafault);
}

.catalog-results {
  background-color: var(--background-basic-1);
  color: var(--texts-texts-basic);
}

.catalog-results__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-sort__container {
  display: flex;
  gap: 70px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-results__list {
  padding-bottom: 40px;
}

.catalog-results__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

.catalog-card {
  width: 340px;

}

.catalog-card__link {
  color: inherit;
  text-decoration: none;
}

.catalog-card__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
}

.catalog-card__name {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.catalog-card__price {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: var(--texts-second);
}

.catalog-filter__price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-texts-basic);
}

.card-button {
  text-decoration: none;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.catalog-view {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 160px;
  justify-content: flex-end;
  gap: 8px;
}

.catalog-view__item {
  border: 2px solid var(--texts-texts-basic);
  border-radius: 4px;
  padding: 14px 12px;
  color: var(--texts-texts-basic);
  text-decoration: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  box-sizing: border-box;

}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
}

.catalog-results__pagination {
  margin-top: 40px;
}

.pagination__item {
  background: var(--buttons-second);
  border-radius: 4px;
}

.pagination__item--active {
  background: var(--forms-elements-2);
}

.pagination__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
  text-decoration: none;
  width: 60px;
  height: 60px;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination__link--active {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.pagination__item--more {
  background: var(--background-basic-1);
  color: var(--texts-texts-basic);
}

.pagination__link--more {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: inherit;
}
